.App {
  max-width: 1280px;
  margin: 0 auto;
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 150px 1fr;
  grid-template-areas: 
  'h h'
  's p';
  /* grid-gap: 10px; */
  min-height: 100vh;
  background-color: darkslateblue;
}

/* .header {
  height: 150px;
  color: white;
  background-color: bisque;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0% 100%;
  background-image: url('https://cdn.pixabay.com/photo/2016/07/30/19/47/banner-1557834_1280.jpg');
} */

/* .nav {
  background-color: darkgrey;
} */

/* .profile {
  background-color: palegreen;
} */

/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
